.container-login{
    width:381px;
    border-radius:7px;
    font-family:raleway;
    border:2px solid #ccc;
    padding:10px 40px 25px;
    margin: 0 auto;
    background-color: transparent;
    box-shadow: 0px 5px 30px #777;
}
input[type=text],input[type=password],input[type=email]{
    font-family: "Century Gothic", cursive, sans-serif;
    width: 300px;
    padding: 7px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #435160;
    outline: none;
    color: #6D7781;
    font-size: 15px;
    padding-left: 15px;
    margin-bottom: 10%;
}
.login-button{
    font-family: "Century Gothic", cursive, sans-serif;
    background: #1FCE6D;
    border: 0;
    width: 150px;
    height: 38px;
    border-radius: 3px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    margin-top: 10%;
    margin-left: 23%;
}
.login-header{
    color: #7E7E7E;
    font: bold 25px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 15px 0 30px;
    width: 100%;
}
.label-login{
    font-family: "Century Gothic";
    font-size: 17px;
    margin-top: 10px;
    
}
.label-login:before,
.label-login:after{
    content: "";
    height: 1px;
    position: absolute;
    top: 10px;
    width: 23%;
}
.success-overlay, .success-message {
    display: none;
}

 span{
      display:inline-block;
      width:15%;
      margin-top: 15px;
      text-align: center;
}

.highlight{
	background-color: #93f99a;
	color: black;
}
.pass-meter{
    float: left;
    position: relative;
    margin-top: 3px;
    width: 100%;
}
.single-meter{
    width: 24%;
    height: 4px;
    margin-top: 1px;
    margin-right: 1%;
    background-color: lightgray;
    position: relative;
    float: left;
}
#pass-meter-icon{
    background-image:url("../img/info-icon.png");
    background-size:20px 20px;
    background-repeat:no-repeat;
    width: 20px;
}
#pass-meter-info{
    font-family: 'PT Sans',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-align: right;
    width: 100px;
}
.pass-meter-aux{
    margin: 1px 1px 1px 5px;
    height: 20px;
    position: relative;
    float:right;
}

.col-sm-9{
    text-align: right; 
}

.container{
    margin-top: 10px;
    margin-bottom: 10px;
}

header{
    border-bottom: solid;
}